/* [global] */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  background-color: #fff !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover {
  color: #3498db !important;
}

@media (max-width: 991px) {
  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

/* header */
#header {
  width: 100%;
  margin-top: 40px;
}

#header h1 {
  font-size: 27px;
}

@media (max-width: 991px) {
  #header {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #header h1 {
    font-size: 25px;
  }
}

/* footer */
footer p {
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
}
